.changeFont{
  margin-top: 70px;
}


.right {
  overflow: hidden;
  float: right;
}

.handIcon{
  cursor: pointer;
}

.button {
  background-color: #2e73b0;
  color: white;
}

.icon-status{
  width: 50px;
}
.modifyTask {
  font-size: 20px;
  border: none;
  background: none;
}

.filtersAndButton {
  margin-left: 0;
  margin-right: 0;
  padding: 25px;
  padding-bottom: 0;
}

.row {
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}


mat-table {
  border: 1px solid #bcbdbd;
}

mat-row {
  border: none;
}

mat-header-row {
  border: none;
}
mat-header-cell {
  background-color: #bcbdbd;
}

mat-row:nth-child(4n), mat-row:nth-child(4n+2) {
  background-color: #e7e8e8;

}

mat-row:nth-child(4n+1), mat-row:nth-child(4n+3) {
  background-color: #f4f6f6;

}


.tabla {
  padding: 25px;
}





@media (max-width: 1200px) {
  .incidenceColumn,.informationColumn{
    display: none;

  }
  .optionsColumSize {
    justify-content: end;
  }
}


@media (max-width: 670px) {
  .icon-status{
    width: 25px;
  }
  .optionsIcons{
    justify-content: center;
  }
  .areaInformation{
    display: none;
  }
  .taskInformation{
    justify-content: center;
  }
}
