<nav class="fondoNav navbarText navbar navbar-expand-lg navbar-light navbar-fixed-top" *ngIf="_loggedUser.getUserLoggedIn()">
  <ul class="navbar-nav mr-auto">
    <li class="navbar-nav active">
    <span class="navbar-brand text-white" *ngIf="_loggedUser.getUserLoggedIn() && _route.url=='/list_tasks'">
      <div *ngIf="isBoss()" class="menu">
        <button mat-button [matMenuTriggerFor]="menu"><i class="fas fa-bars"></i></button>
          <mat-menu #menu="matMenu">
            <button class="btn btn-link nav-link logout " mat-menu-item (click)="goDashboard()">
              <span><i class="fas fa-chart-line"></i> DashBoard</span>
            </button>
          </mat-menu>
      </div>

    Tasks List</span>
      <a class="text-white" routerLink="/list_tasks">
        <span class="navbar-brand text-white" *ngIf="_loggedUser.getUserLoggedIn() && _route.url=='/task'">
     <i class="fas fa-home"></i> New Task
        </span>
        <span class="navbar-brand text-white" *ngIf="_loggedUser.getUserLoggedIn() && _route.url=='/profile'">
     <i class="fas fa-home"></i> Profile
        </span>
        <span class="navbar-brand text-white" *ngIf="_loggedUser.getUserLoggedIn() && _route.url=='/dashboard'">
     <i class="fas fa-home"></i> DashBoard
        </span>
      </a>

    </li>
  </ul>

  <button class="text-white" mat-button [matMenuTriggerFor]="userMenu">
    <span>{{_loggedUser.getUserFName() + "  "}} <i class="fas fa-angle-down"></i></span></button>
  <mat-menu #userMenu="matMenu">
    <button class="btn btn-link nav-link logout " *ngIf="_loggedUser.getUser()!=null" mat-menu-item
            (click)="goProfile()">
      <span><i class=" fas fa-user-alt"></i> Profile</span>

    </button>
    <button class="btn btn-link nav-link logout " mat-menu-item *ngIf="_loggedUser.getUser()!=null" (click)="logout()">
      <span><i class="fas fa-sign-out-alt"></i> Logout</span>
    </button>
  </mat-menu>

</nav>
