.page {
  padding-top: 50px;
  padding-left: 190px ;
  padding-bottom: 250px;
}

.statusSummary{
  text-align: center;
}
.defaultValue {
  border: 3px solid black;
  text-align: center;
  display: inline-block;
  width: 200px;
  height: 100px;
  margin: 1em;

}

.pending {
  background-color: #b9b9b7;
}

.inProgress {
  background-color: #ffd000;
}

.finalized {
  background-color: #50d73f;
}


.filter {
  text-align: center;
  display: inline-block;
  width: 200px;
  height: 100px;
  margin: 1em;
}

.right {
  overflow: hidden;
  float: right;
}

.diagram {
  width: 33%;
  display: inline-block;
}

.diagrams{
  padding-top: 50px;
  padding-bottom: 50px;
}

.tasks{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-flow: wrap;
}

.sidebar{

}

#sidebar{
  margin: 0px;
  padding: 0px;
  float: left;
  height: 150%;
  position:absolute;
  background-color: #387cb9;
  width: auto;
  display: table;
}

.sidebar ul{
  display: table-cell;
  vertical-align: middle;

}

.doughnut{
  padding-top: 132px;
}

#sidebar ul li{
  padding: 10px;
  list-style-type: none;
  font-size: 15px;
  text-align: center;
  height: 100%;
}
.sidebar button {
  background-color: #387cb9;
  border: none;
  padding: 0px;
}



@media (max-width: 1200px) {

  .page{
    padding: 25px;
  }

  .leyendaDashboard{
    display: none;
  }

  .diagram {
    display: block;
    width: 100%;
    padding: 5px;
  }
  .right {
  }
  .diagrams{

  }

}

@media (max-width: 400px) {
  h3{
    font-size: 18px;
  }
  .defaultValue {
    border: 3px solid black;
    text-align: center;
    display: inline-block;
    width: 75px;
    height: 75px;
    margin: 1em;
  }
}

