<div class="mainPage">
  <div class="actionPage">
    <form [formGroup]="taskForm" (ngSubmit)="processForm()">
      <div class="form-group task-size">
        <div class="form-row">
          <div class="col-md-8" *ngIf="idUndefined()">
            <b><label class="createdBy text-success">This task has been created
              by {{this.task.supervisor.name + ' ' + this.task.supervisor.surname}}</label></b>
          </div>
        </div>

        <div class="form-row">
          <div class="col-md-4">
            <label>Tasks</label>
            <select formControlName="subTask" class="form-control" (change)="addSubTask()">
              <option *ngFor="let subtask of subTasks" [ngValue]="subtask">{{subtask.type}} ({{subtask.id}})
              </option>
            </select>

            <div
              *ngIf="controls.subTask.invalid && ((controls.subTask.dirty || controls.subTask.touched) || submitted) "
              class="text-danger">

              <div *ngIf="controls.subTask.errors.required">
                Task is required.
              </div>
            </div>
          </div>
        </div>

        <div class="form-row">
            <div class="col-md-auto">
              <label>Date</label>
              <div class="input-group form-group">
                <input type="text" bsDatepicker #datePicker="bsDatepicker"
                       class="form-control handIcon" formControlName="creationDate">
                <div (click)="datePicker.toggle()" class="input-group-append handIcon">
                  <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                </div>
              </div>
            </div>
          <timepicker formControlName="hourCreationDate" [(ngModel)]="mytime"></timepicker>
        </div>


        <div class="form-row">
          <div class="col-md-4">
            <label>Assign to</label>
            <select formControlName="user" class="form-control">
              <option hidden></option>
              <option *ngFor="let user of users" [ngValue]="user">{{user.name}} {{user.surname}}
                || {{user.timeSheet.name.substring(0, 1)}}</option>
            </select>
          </div>
        </div>


        <div class="form-row">
          <div class="col-md-4">
            <label>State</label>
            <select formControlName="state" class="form-control">
              <option hidden></option>
              <option *ngFor="let state of states" [ngValue]="state">{{state}}</option>
            </select>
            <div
              *ngIf="controls.state.invalid && ((controls.state.dirty || controls.state.touched) || submitted) "
              class="text-danger">

              <div *ngIf="controls.state.errors.required">
                State is required.
              </div>
            </div>
          </div>
        </div>


        <div class="form-row">
          <div class="form-group col-md-2 ">
            <label>Floor</label>
            <select formControlName="floorNumber" class="form-control " (change)="changeRooms()">
              <option hidden></option>
              <option *ngFor="let floor of floors" [ngValue]="floor">{{floor.numberFloor}}</option>
            </select>

            <div
              *ngIf="controls.floorNumber.invalid && ((controls.floorNumber.dirty || controls.floorNumber.touched) || submitted) "
              class="text-danger">

              <div *ngIf="controls.floorNumber.errors.required">
                Floor is required.
              </div>
            </div>
          </div>
          <div class="form-group col-md-2">
            <label>Area</label>
            <select class="form-control " formControlName="roomNumber">
              <option hidden></option>
              <option *ngFor="let room of rooms" [ngValue]="room">{{room.number}}</option>
            </select>
            <div
              *ngIf="controls.roomNumber.invalid && ((controls.roomNumber.dirty || controls.roomNumber.touched) || submitted) "
              class="text-danger">

              <div *ngIf="controls.roomNumber.errors.required">
                Room is required.
              </div>
            </div>
          </div>


        </div>


        <div class="form-group textArea">
          <label>Additional info:</label>
          <textarea rows="5" name="additionalInformation" formControlName="additionalInformation"
                    class="form-control"></textarea>
        </div>


        <div>
          <button *ngIf="task.id==null" type="submit" name="save" class="btn button-create button"><i
            class="fas fa-check"></i> Create task
          </button>
          <button *ngIf="task.id!=null" type="submit" name="save" class="btn button-create button"><i
            class="fas fa-check"></i> Update task
          </button>
          <button type="button" class="btn button-cancel button1" routerLink="/list_tasks"><i
            class="fas fa-times"></i> Cancel
          </button>
        </div>

      </div>
    </form>
  </div>
</div>
